body {
    min-height: 100%;
}

#period-datepicker {
    background-color: #A2D7A3;
    margin-top: 20px;
    padding: 10px;
}

#period-datepicker .input-sm {
    background-color: #f2f2f2;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;    
    padding: 5px;
}

#period-datepicker .input-sm:focus {
    box-shadow: 0px 0px 7px 3px #385633;   
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #385623; 
}

#period-datepicker p {
    font-size: 20px;
    font-weight: bold;
    color: #385623; 
}

.form-item {
    padding: 5px;
}

.dropdown {
    padding: 5px;
}

.dropdown button {
    width: 90%;
    background-color: #f2f2f2;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;    
    padding: 5px;
}

.dropdown-menu li {
    width: 200px;
    margin: 2px;
}

.dropdown-menu a {
    color: #666;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: #385623;
    font-weight: bold;
    text-decoration: none;
}

.main-content {
    min-height: 100%;
    background-color: #f2f2f2;
}

#piechart1 {
    width: 100%; 
    min-height: 350px;
}

#piechart2 {
    width: 100%; 
    min-height: 350px;
}

.moneyList {
    margin-top: 5px;
    color: #385623;
    font-size: 14px;
}

.moneyList p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#incomesList {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

#incomesList td {
    border-bottom: 1px dashed rgb(156, 156, 156);
}

#expensesList {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

#expensesList td {
    border-bottom: 1px dashed rgb(156, 156, 156);
}

#welcome-screen {
    background-color: #fff;
    min-height: 80vh;
}

#welcome-screen p {
    color: #33A835;
    font-size: 25px;
    font-weight: bold;
}

#add-income {
    margin-top: 20px;
}

#add-income p {
    margin-top: 15px;
    color: #33A835;
    font-size: 18px;
    font-weight: bold;   
}

textarea {
    margin-top: 10px;
    width: 90%;
    background-color: #f2f2f2;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;    
    padding: 5px;
    margin-top: 10px;   
}

label {
    width: 100%;
}

input[type=text],
input[type=date] {
    width: 90%;
    background-color: #f2f2f2;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;    
    padding: 5px;
    margin-top: 10px;
}

input[type=text]:focus,
input[type=date]:focus {
    box-shadow: 0px 0px 7px 3px #385633;   
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #385623; 
}

input[type=submit] {
    width: 60%;
    background-color: #36b03c;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 50px;
}

input[type=submit]:hover {
    background-color: #37b93d;
    box-shadow: 0px 0px 7px 3px #385633;
}

input[type=submit]:focus {
    box-shadow: 0px 0px 7px 3px #385633;   
}

#reportrange {
    background-color: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    width: 100%
}