body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #33A835;
}

.fill-viewport {
    background-color: #fff;
    padding-top: 75px;
    min-height: 100vh;
}

#logo h1 {
    display: inline-block;
    color:  #33A835;
    font-size: 23px;
}

#logo p {
    margin-top: 20px;
    margin-bottom: 75px;
    color: #385623;
}

#logo a:hover {
    text-decoration: none;
}

.img-restricted {
    width: 64px;
    height: 64px;
}

input[type=text],
input[type=password] {
    width: 90%;
    background-color: #f2f2f2;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;    
    padding: 5px;
    margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0px 0px 7px 3px #385633;   
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #385623; 
}

input[type=submit] {
    width: 60%;
    background-color: #36b03c;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 50px;
}

input[type=submit]:hover {
    background-color: #37b93d;
    box-shadow: 0px 0px 7px 3px #385633;
}

input[type=submit]:focus {
    box-shadow: 0px 0px 7px 3px #385633;   
}

#footer p {
    text-align: center;
    color: #385623;
}

#footer a {
    text-decoration: none;
    color: #385623;
    font-weight: bold;
}

#footer a:hover {
    color: #163411;
    text-decoration: none;
}

@media screen and (min-width: 576px) {    
    #logo h1 {
        font-size: 30px;
    }
}