body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.nav-link {
    color: #33A835 !important;
    font-weight: bold;
    margin: 0 15px;
}

.collapse ul li a:hover {
    color: #163411 !important;
}

.navbar-brand h1 {
    color:  #33A835;
    font-size: 30px;
}

.container-fluid {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 0;
}

.row {
    margin: 0;
    padding: 0;
}

#main-description {
    margin-left: 0;
    width: 100%;
    background-color: #33A835;
    margin-top: 20px;
    padding: 20px;
}

#main-description h1 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-description p {
    color: #ffffff;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-description button {
    color: #33A835;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0px 0px 10px 5px rgba(56,86,35,0.7);
}

.program-features-description button {
    color: #33A835;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 12px auto;
}

#main-description img {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.program-features-description {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-color: #f2f2f2;
}

.program-features-description p {
    text-align: center;
}

.container-fluid .row:nth-child(3)  {
    background-color: #A2D7A3 !important;
}

.container-fluid .row:nth-child(5)  {
    background-color: #A2D7A3 !important;
}

.container-fluid .row:nth-child(5) p {
    margin: 15px;
    padding: 0;
}

.program-features-description img {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 12px auto;
}

.program-features-description div {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #385623;
    text-align: left;
}

.program-features-description div p {
    padding: 45px;
}

footer {
    margin-left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: #385623;
}

footer a {
    text-decoration: none;
    color: #385623;
}

footer a:hover {
    color: #163411;
}


@media screen and (max-width: 768px) {
    .program-features-description div p {
      padding: 20px;
    }

    .container-fluid .row:nth-child(5) div {
        margin: 0;
        padding: 0;
    }

    .program-features-description button {
        color: #33A835;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

@media screen and (max-width: 380px) {
    footer {
        font-size: 8px;
    }
}